<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ site_config.site_name }}{% endblock %}</title>
  {% load static %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{% static 'css/fitlab.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% block extra_js %}{% endblock %}
</body>
</html>
